.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.searchInput {
  padding: 5px;
  width: 200px;
}
.button {
  background-color: blue;
  border: none;
  border-radius: 3px;
  color: white;
}
.list {
  list-style: none;
  padding: 5px;
  margin: 0;
}
.listBox {
  border: 1px solid #d2d2d2;
}
.form {
  display: flex;
  gap: 10px;
}
